.wrap{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.articles{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    margin: 10px;

}


@media (min-width: 320px) and (max-width: 1024px) {
    .wrap{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .articles{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100vw;
        margin: 10px;

    }

}

